variant: fcos
version: 1.5.0
storage:
  disks:
    - device: {{ hostvars[item]['os_dev'] }}
      partitions:
      - number: 4
        label: root
        size_mib: 10240
        resize: true
      - label: swap
        size_mib: {{ netboot_swap_size}}
      - size_mib: 0
        label: var
{% if hostvars[item]['data_dev'] is defined %}
    - device: {{ hostvars[item]['data_dev'] }}
      partitions:
      - label: data
        size_mib: 0
        resize: true
{% endif %}
  filesystems:
    - device: /dev/disk/by-partlabel/var
      path: /var
      format: ext4
      with_mount_unit: true
    - device: /dev/disk/by-partlabel/swap
      format: swap
      with_mount_unit: true
{% if hostvars[item]['data_dev'] is defined %}
    - device: /dev/disk/by-partlabel/data
      format: ext4
      path: /var/data
      with_mount_unit: true
{% endif %}
passwd:
  users:
    - name: ansible
      ssh_authorized_keys:
        - {{ ansible_ssh_key.public_key }}
      groups:
        - wheel
        - sudo
systemd:
  units:
    # Installing Python as a layered package with rpm-ostree https://docs.fedoraproject.org/en-US/fedora-coreos/os-extensions/
    - name: rpm-ostree-install-python.service
      enabled: true
      contents: |
        [Unit]
        Description=Layer Python with rpm-ostree
        Wants=network-online.target
        After=network-online.target
        # We run before `zincati.service` to avoid conflicting rpm-ostree
        # transactions.
        Before=zincati.service
        ConditionPathExists=!/var/lib/%N.stamp

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        # `--allow-inactive` ensures that rpm-ostree does not return an error
        # if the package is already installed. This is useful if the package is
        # added to the root image in a future Fedora CoreOS release as it will
        # prevent the service from failing.
        ExecStart=/usr/bin/rpm-ostree install --apply-live --allow-inactive --idempotent python
        ExecStart=/bin/touch /var/lib/%N.stamp

        [Install]
        WantedBy=multi-user.target
    - name: rpm-ostree-install-freeipa-client.service
      enabled: true
      contents: |
        [Unit]
        Description=Layer the FreeIPA client with rpm-ostree
        Wants=network-online.target
        After=network-online.target rpm-ostree-install-python.service
        # We run before `zincati.service` to avoid conflicting rpm-ostree
        # transactions.
        Before=zincati.service
        ConditionPathExists=!/var/lib/%N.stamp

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        # `--allow-inactive` ensures that rpm-ostree does not return an error
        # if the package is already installed. This is useful if the package is
        # added to the root image in a future Fedora CoreOS release as it will
        # prevent the service from failing.
        ExecStart=/usr/bin/rpm-ostree install --apply-live --allow-inactive --idempotent freeipa-client
        ExecStart=/bin/touch /var/lib/%N.stamp

        [Install]
        WantedBy=multi-user.target
