variant: fcos
version: 1.5.0
storage:
  files:
    - path: /usr/local/bin/pre-install.sh
      mode: 0o555
      contents:
        inline: |
          #!/usr/bin/bash
          set -euxo pipefail
          # wipe the boot disk.
{% if hostvars[item]['wipe_os'] | default(false) %}
          wipefs --all {{ hostvars[item]['os_dev'] }}
{% endif %}
{% if hostvars[item]['wipe_data'] | default(false) %}
          wipefs --all {{ hostvars[item]['data_dev'] }}
{% endif %}
systemd:
  units:
    - name: live-pre-install.service
      enabled: true
      contents: |
        [Unit]
        Description=live pre install
        After=coreos-installer-pre.target
        Before=coreos-installer.service
        [Service]
        Type=oneshot
        ExecStart=/usr/local/bin/pre-install.sh
        RemainAfterExit=yes
        [Install]
        RequiredBy=coreos-installer.service
