#!ipxe

dhcp

set STREAM {{ netboot_coreos_stream }}
set VERSION {{ netboot_coreos_version }}
set INSTALLDEV /dev/sda
set CONFIGURL http://{{ ansible_default_ipv4.address }}/${net0/mac}.ign

set BASEURL https://builds.coreos.fedoraproject.org/prod/streams/${STREAM}/builds/${VERSION}/x86_64

kernel ${BASEURL}/fedora-coreos-${VERSION}-live-kernel-x86_64 initrd=main coreos.live.rootfs_url=${BASEURL}/fedora-coreos-${VERSION}-live-rootfs.x86_64.img coreos.inst.install_dev=${INSTALLDEV} coreos.inst.ignition_url=${CONFIGURL}
initrd --name main ${BASEURL}/fedora-coreos-${VERSION}-live-initramfs.x86_64.img

boot