variant: fcos
version: 1.5.0
storage:
  disks:
  - device: /dev/disk/by-id/coreos-boot-disk
    wipe_table: false
    partitions:
    - number: 4
      label: root
      size_mib: 10240
      resize: true
    - size_mib: 0
      label: var
  filesystems:
    - path: /var
      device: /dev/disk/by-partlabel/var
      format: ext4
      with_mount_unit: true
{% if netboot_wipe_everything%}
      filesystem_wipe: true
{% endif %}
  files:
    - path: /etc/hostname
      mode: 0644
      contents:
        inline: {{ item }}
passwd:
  users:
    - name: ansible
      ssh_authorized_keys:
        - {{ ansible_ssh_key.public_key }}
      groups:
        - wheel
        - sudo
systemd:
  units:
    # Installing Python as a layered package with rpm-ostree https://docs.fedoraproject.org/en-US/fedora-coreos/os-extensions/
    - name: rpm-ostree-install-python.service
      enabled: true
      contents: |
        [Unit]
        Description=Layer Python with rpm-ostree
        Wants=network-online.target
        After=network-online.target
        # We run before `zincati.service` to avoid conflicting rpm-ostree
        # transactions.
        Before=zincati.service

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        # `--allow-inactive` ensures that rpm-ostree does not return an error
        # if the package is already installed. This is useful if the package is
        # added to the root image in a future Fedora CoreOS release as it will
        # prevent the service from failing.
        ExecStart=/usr/bin/rpm-ostree install --apply-live --allow-inactive python
        ExecStart=/bin/touch /var/lib/%N.stamp

        [Install]
        WantedBy=multi-user.target
