#!ipxe
  
dhcp
initrd http://{{ ansible_default_ipv4.address }}/images/pxeboot/initrd.img
kernel http://{{ ansible_default_ipv4.address }}/images/pxeboot/vmlinuz inst.repo=http://{{ ansible_default_ipv4.address }} inst.ks=http://{{ ansible_default_ipv4.address }}/metal.ks quiet
boot

#!ipxe

set STREAM stable
set VERSION 38.20230430.3.1
set INSTALLDEV /dev/sda
set CONFIGURL http://{{ ansible_default_ipv4.address }}:8000/coreos.ign

set BASEURL https://builds.coreos.fedoraproject.org/prod/streams/${STREAM}/builds/${VERSION}/x86_64

kernel ${BASEURL}/fedora-coreos-${VERSION}-live-kernel-x86_64 initrd=main coreos.live.rootfs_url=${BASEURL}/fedora-coreos-${VERSION}-live-rootfs.x86_64.img coreos.inst.install_dev=${INSTALLDEV} coreos.inst.ignition_url=${CONFIGURL}
initrd --name main ${BASEURL}/fedora-coreos-${VERSION}-live-initramfs.x86_64.img

boot