version: "3"

services:
  d-i:
    container_name: d-i
    build: ./debian
        
    network_mode: host
    cap_add:
      - NET_ADMIN

    volumes:
      - '{{ netboot_data_path }}/kickstart:/var/lib/tftpboot'

    restart: unless-stopped
